body{
	font-family: 'Lato', sans-serif;
	width: 80%;
	margin: 0 auto;
	background-color: #000;
}

.navegador{
	padding: 20px;
	background-color: #B51120;
	overflow: auto;
}

.navegador li{
	display: inline;
	list-style: none;	
	text-decoration: underline;
	color: #fff;
	margin-left: 20px;
}

.imagenes{
	margin-left: 40px;
}

.panda{
	display:inline-block;
	width: 150px; 
	height: 150px;
	margin: 20px;
	border: 3px solid #BFBFBF;
	filter: grayscale(80%);
}

.uno{
	background-image: url(../img/a1.jpg);
}

.dos{
	background-image: url(../img/a2.jpg);
}

.tres{
	background-image: url(../img/a3.jpg);
}

.cuatro{
	background-image: url(../img/a4.jpg);
}
.panda span{
	color: white;
	padding: 10px 10px;
}

.botones{
	text-align: center;
}

.botones a{
	display: inline-block;
	padding: 10px 12%;
	margin-top: 20px;
	background-color:#B51120; 
	text-decoration: none;
	color: #fff;
}

.botones a:hover{
	background-color: #B96170;
	color: #000;
}

.parrafos{
	width: 100%;
	color: white;
}
.parrafos p{
	display: inline-block;
	width: 42%;
	padding: 1%;
	text-align: justify;
}

.salir{
	display: none;
}
